@charset "UTF-8";
html, body 
{
	margin: 0;
	padding: 0;
}

header nav 
{
	height: 100px;
	background-color: #004c92;
}

header nav ul 
{
	display: flex;
	list-style: none;
	height: 100%;
	align-content: center;
}

header nav ul 
{
	margin-left: 20px;
}
